h1 {
    text-align: center;
}

img {
    height: 100px;
    width: auto;
    position: absolute;
    top: 20%; /* Center the image vertically */
    left: 20%; /* Adjust the left position as needed */
    transform: translateY(-50%); /* Center the image perfectly */
}

.container {
    position: relative; /* Ensure relative positioning for the container */
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.text-content {
    /* Add any additional styles for the text container here */
}

/* Styling for the button */
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the button */
#nextButton:hover {
    background-color: #2980b9;
}

/* Disable style for the button when it's disabled */
#nextButton:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}